<!doctype html>
<title>Stock trending tool</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_jhv.css')}}'>
<div class=page>
  <h1>Simple stock analysis tool</h1>
  <div class=metanav>
    <h4>
      Specify the stock details which you would like to analyze.
    </h4>

    <form id='userinfoform_lulu' method='post' action='' >
      <p>
    Stock ticker symbol: <input type='text' name='tickername' />
      </p>

      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>