<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>

</head>
<body>
<H1>Stock trend</H1>

{{ script|safe }}
{{ div|safe }}
    
<div class=metanav>
    <h4>
      To return to the index page, click below.
    </h4>

    <form id='return' method='post' action='navigate' >
      <p>
    <input type='submit' value='Return' />
      </p>
    </form>

</div>

</body>
    

    
</html>